<div>
<button (click)="doSom()" class="acc"><img src="acc.png"></button>
</div>

<div class="barra">
@if (barra) {
     <button (click)="addMessage()">inicio</button>
     <button (click)="pausaResumir()">pausa/play</button>
     <button (click)="cancelar()">cancelar</button>
     <button (click)="actContraste()">contraste</button>
     <button (click)="changeSize()">texto</button>
     <button (click)="changeFont()">fuente</button>
} @else {
    
}
</div>

<div #textContainer [ngStyle] ="{'font-size.px': fontSize, 'font-family': fontFam, 'color': color, 'background-color': bcolor, 'font-weight': weight}">
<p #readable>La capacidad que tiene From Software para crear auténticos juegazos en relativamente poco tiempo es algo digno de admiración. </p>

<h1 #readable>Dario</h1>
<h2 #readable>Moreno</h2>
</div>

